/dts-v1/;

#include <tactility/bindings/root.h>
#include <tactility/bindings/esp32_gpio.h>
#include <tactility/bindings/esp32_i2c.h>

/ {
	compatible = "root";
	model = "M5Stack Cardputer";

	gpio0 {
		compatible = "espressif,esp32-gpio";
		gpio-count = <49>;
	};

	i2c_port_a {
		port = <I2C_NUM_0>;
		sda-pin = <2>;
		scl-pin = <1>;
		frequency = <400000>;
		sda-pullup;
		scl-pullup;
	};
};
