/dts-v1/;

#include <tactility/bindings/root.h>
#include <tactility/bindings/esp32_gpio.h>
#include <tactility/bindings/esp32_i2c.h>
#include <tactility/bindings/esp32_uart.h>

/ {
	compatible = "root";
	model = "Elecrow CrowPanel Advance 2.8";

	gpio0 {
		compatible = "espressif,esp32-gpio";
		gpio-count = <49>;
	};

	i2c0 {
		compatible = "espressif,esp32-i2c";
		port = <I2C_NUM_0>;
		clock-frequency = <400000>;
		pin-sda = <15>;
		pin-scl = <16>;
		pin-sda-pullup;
		pin-scl-pullup;
	};

	uart0 {
		compatible = "espressif,esp32-uart";
		port = <UART_NUM_0>;
		pin-tx = <43>;
		pin-rx = <44>;
		pin-cts = <GPIO_PIN_NONE>;
		pin-rtx = <GPIO_PIN_NONE>;
	};

	uart1 {
		compatible = "espressif,esp32-uart";
		port = <UART_NUM_1>;
		pin-tx = <17>;
		pin-rx = <18>;
		pin-cts = <GPIO_PIN_NONE>;
		pin-rtx = <GPIO_PIN_NONE>;
	};
};
