/dts-v1/;

#include <tactility/bindings/root.h>
#include <tactility/bindings/esp32_gpio.h>
#include <tactility/bindings/esp32_i2c.h>
#include <tactility/bindings/esp32_spi.h>

/ {
	compatible = "root";
	model = "Wireless-Tag WT32-SC01 Plus";

	gpio0 {
		compatible = "espressif,esp32-gpio";
		gpio-count = <49>;
	};

	i2c0 {
		compatible = "espressif,esp32-i2c";
		port = <I2C_NUM_0>;
		clock-frequency = <400000>;
		pin-sda = <6>;
		pin-scl = <5>;
	};

	spi0 {
		compatible = "espressif,esp32-spi";
		host = <SPI2_HOST>;
		pin-mosi = <40>;
		pin-miso = <38>;
		pin-sclk = <39>;
		pin-wp = <GPIO_PIN_NONE>;
		pin-hd = <GPIO_PIN_NONE>;
		max-transfer-size = <0>;
	};
};
