/dts-v1/;

#include <tactility/bindings/root.h>
#include <tactility/bindings/esp32_gpio.h>
#include <tactility/bindings/esp32_i2c.h>
#include <tactility/bindings/esp32_i2s.h>
#include <tactility/bindings/esp32_spi.h>
#include <tactility/bindings/esp32_uart.h>

// Reference: https://docs.m5stack.com/en/core/Cardputer-Adv
/ {
	compatible = "root";
	model = "M5Stack Cardputer Adv";

	gpio0 {
		compatible = "espressif,esp32-gpio";
		gpio-count = <49>;
	};

	i2c_internal {
		compatible = "espressif,esp32-i2c";
		port = <I2C_NUM_0>;
		clock-frequency = <400000>;
		pin-sda = <&gpio0 8 GPIO_FLAG_NONE>;
		pin-scl = <&gpio0 9 GPIO_FLAG_NONE>;
	};

	i2c_port_a {
		compatible = "espressif,esp32-i2c";
		port = <I2C_NUM_1>;
		clock-frequency = <400000>;
		pin-sda = <&gpio0 2 GPIO_FLAG_NONE>;
		pin-scl = <&gpio0 1 GPIO_FLAG_NONE>;
	};

	display_spi: spi0 {
		compatible = "espressif,esp32-spi";
		host = <SPI2_HOST>;
		pin-mosi = <35>;
		pin-sclk = <36>;
	};

	sdcard_spi: spi1 {
		compatible = "espressif,esp32-spi";
		host = <SPI3_HOST>;
		pin-mosi = <14>;
		pin-miso = <39>;
		pin-sclk = <40>;
	};

	// Speaker and microphone (ES8311)
	i2s0 {
		compatible = "espressif,esp32-i2s";
		port = <I2S_NUM_0>;
		pin-bclk = <&gpio0 41 GPIO_FLAG_NONE>;
		pin-ws = <&gpio0 43 GPIO_FLAG_NONE>;
		pin-data-out = <&gpio0 42 GPIO_FLAG_NONE>;
		pin-data-in = <&gpio0 46 GPIO_FLAG_NONE>;
	};

	uart_port_a: uart1 {
		compatible = "espressif,esp32-uart";
		port = <UART_NUM_1>;
		pin-tx = <1>;
		pin-rx = <2>;
	};
};
