/dts-v1/;

#include <tactility/bindings/root.h>
#include <tactility/bindings/esp32_gpio.h>
#include <tactility/bindings/esp32_i2c.h>
#include <tactility/bindings/esp32_uart.h>

/ {
	compatible = "root";
	model = "Guition JC3248W535C";

	gpio0 {
		compatible = "espressif,esp32-gpio";
		gpio-count = <49>;
	};

	i2c_internal: i2c0 {
		compatible = "espressif,esp32-i2c";
		port = <I2C_NUM_0>;
		clock-frequency = <400000>;
		pin-sda = <4>;
		pin-scl = <8>;
		pin-sda-pullup;
		pin-scl-pullup;
	};

	i2c_external: i2c1 {
		compatible = "espressif,esp32-i2c";
		port = <I2C_NUM_1>;
		clock-frequency = <400000>;
		pin-sda = <17>;
		pin-scl = <18>;
		pin-sda-pullup;
		pin-scl-pullup;
	};

	// P1 header
	uart0 {
		compatible = "espressif,esp32-uart";
		port = <UART_NUM_0>;
		pin-tx = <43>;
		pin-rx = <44>;
		pin-cts = <GPIO_PIN_NONE>;
		pin-rts = <GPIO_PIN_NONE>;
	};
};
