/dts-v1/;

#include <tactility/bindings/root.h>
#include <tactility/bindings/esp32_gpio.h>
#include <tactility/bindings/esp32_i2c.h>
#include <tactility/bindings/esp32_uart.h>

/ {
	compatible = "root";
	model = "CYD 8048S043C";

	gpio0 {
		compatible = "espressif,esp32-gpio";
		gpio-count = <49>;
	};

	i2c_internal {
		compatible = "espressif,esp32-i2c";
		port = <I2C_NUM_0>;
		clock-frequency = <400000>;
		pin-sda = <19>;
		pin-scl = <20>;
		pin-sda-pullup;
		pin-scl-pullup;
	};

	i2c_external {
		compatible = "espressif,esp32-i2c";
		port = <I2C_NUM_1>;
		clock-frequency = <400000>;
		pin-sda = <17>;
		pin-scl = <18>;
	};

	uart1 {
		compatible = "espressif,esp32-uart";
		port = <UART_NUM_1>;
		pin-tx = <18>;
		pin-rx = <17>;
		pin-cts = <GPIO_PIN_NONE>;
		pin-rtx = <GPIO_PIN_NONE>;
	};
};
